*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea
.apk
/build/outputs
watch/libs/
watch/src/main/res/drawable/
/app/debug
/app/release
/app/build